.main {
    position: fixed;
    width: 95%;
    height: 60px;
    bottom: 2%;
    left: 50%; /* push to the center */
    transform: translateX(-50%); /* pull it back 50% of its own width */
    z-index: 1000;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    backdrop-filter: blur(5px);
    background-color: white;
    box-shadow: -2px 1px 1px rgba(0,0,0,0.5);
    
  }
  .main div {
    padding: 10px 0;
    border-radius: 30px;
    width: 50%;
    margin-right:10px 20%;
    display: flex; /* 🆕 */
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .main div:hover{
    background-color: rgba(68, 63, 63, 0.3);
    border: 1px solid rgba(0,0,0,0.1);
  }
  .icons {
    position: relative;
    top:0px;
    transition: transform 0.2s ease, color 0.2s ease;
    font-size: 20px;
    font-weight: lighter;
  }
  
  .icons:hover {
    transform: scale(1.2);
    top:-1px;
    font-size: 22px;
    color:white;
  }
  
  .menuPopUp {
    position: absolute; /* relative to the parent */
    bottom: 60px; /* adjust depending on your layout */
    right: -25px;
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    padding: 0px;
    z-index: 100;
    color: white;
    font-size: 18px;
    
  }
  
  .menuPopUp li {
    list-style: none;
    padding: 15px 20px;
    cursor: pointer;
    width: 220px;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    gap: 8px; /* space between icon and text */
  }
  
  .menuIcon {
    font-size: 1.2rem; /* adjust as needed */
  }
  