.main{
    position: relative;
    width: 100%;
    height: 725px;
    background-color: rgba(143, 141, 141, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:7px  10px 10px 10px rgba(2, 2, 2, 0.2) ;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} .mains::after ,.container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Use transform instead of translate */
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
background-color: rgba(22, 22, 22, 0);
  }
.tittle{
    
    position:relative;top:30px;left:0px;margin:0px 30px;
    font-family: var(--font-beauRivage);
    font-size: 30px;
}
.imageContainer{
    display:flex;
    margin: 10px 0px 0px 0px;
    font-size: 18px;
}
.img{
    width: 150px;
    height: 150px;
    position: relative;
}
.imageContainerText{
    padding: 10px 10px;
    font-weight: bold;
    max-width: 300px;
    
    box-shadow:  2px 5px 10px black;
    background-color:rgba(34,54,57);
    border: 1px solid #333;
    color: rgb(250, 244, 233);
}


.imageContainerTwo{
    position: relative;
    right:0px;
    display:flex;
    margin: 30px 0px 0px 30px;
    font-size: 18px;
}

.imageContainerTextTwo{
    padding: 20px 5px;
    font-weight: bold;
    max-width: 220px;
    
    box-shadow:  2px 5px 10px black;
    padding: 5px;
    background-color:rgba(220,215,201);
    border: 1px solid #3333336c;
    color: #333;
}

.imgTwo{
    width: 150px;
    height: 150px;
    position: absolute;
    right: -45px;
}