/* HomePage.module.css */
.container {
    position: relative;
    top: 0px;
    backdrop-filter: blur(2px);
  }
  
  .title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    height: 5vh;
    color: #333;
    font-weight: bolder;
    margin: 5px 15px;
  }
  
  .itemsListContainer {    
    position: absolute;
    top: -20;
    right: 0;
    padding: 10px;
    margin: 10px 0px 10px -25px;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 60%;
  }
  
  .itemsListContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    z-index: 1000;
  }
  
  .itemsListContainer li {
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .paperTextContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 18px;
    margin: 50px 20px;
  }
  