.container{
    position: relative;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    color: white;
    

}.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
    font-family: var(--font-beauRivage  );
    font-size: 35px;
    border: 1px solid rgba(70, 70, 70, 0.473);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    box-shadow:1px  1px 5px 5px rgba(2, 2, 2, 0.534) ;
    background-color: rgba(29, 29, 29, 0.425);
}

.displayedItems{
    position: relative;
    margin:20px 20px 50px 10px 

}
.displayedItems li{
    list-style: none;
    margin: 10px;
    border: 1px solid rgba(238, 238, 238, 0.212);
    height: 120px;
    display: flex;
    border-radius: 20px;
    box-shadow:1px   5px 5px rgba(2, 2, 2, 0.7) ;

}.imgTwo {
    display: block;
    margin: 0px 0 10px auto;
    width: 40%;
    height: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
}

.itemText{
    width: 60%;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.itemText span{
    font-size: 30px;
    margin-top: 30px;
    
    display: flex;
    justify-content: center;
}
