.container {
    position: relative;
    border:1px solid #a3050527;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    margin:50px 5%;
    width: 150px;
    height: 250px;
    flex-shrink: 0;
    backdrop-filter: blur(10px);

}


/* For Firefox */
.scroll-container {
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }
  
  /* For Webkit-based browsers (Chrome, Safari, Edge) */
  .scroll-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
  }
  
.picContainer div:hover{
    background-color: rgba(0,0,0,0.5);
}
.pic{
    object-fit: cover;
    
}
.txt h3{
    position: relative;
    top:50px;
    display: flex;
    justify-content: center;
}


.price{
    position: relative;
    display: flex;
    margin: 5px;
    font-size: 16px;
}
.buyNow{
    
    position: relative;
    display: flex;
    margin: 5px;
    font-size: 16px;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
    max-width: 65px;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    max-height: 30px;
    color: white;
}
.motivationcaute {
    position: relative;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    text-align: center;       /* Ensure the text is centered within the span */
    padding: 10px;            /* Add some padding if needed */
    height: 50px;
}
.likeButton{
    position: absolute;
    top:10px;
    left: 10%;
    height: 3px;
    width: 35px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}


.viewProductLin{
    color:red;
}