@property --textc {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}


html,
body {
  max-width: 100vw;
  max-height:100%;
  overflow-x:hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /*animation: swappic 60s infinite ;*/
  background-color:#fafafa;
animation: swappic 60s infinite; /* Duration + repeat */
 z-index: 1;
}.myColor {
  animation: changeTextColor 60s infinite;
  color: var(--textc);
  font-family: var(--font-gudea);
  text-shadow: -4px 2px 4px rgba(1, 1, 1, 0.233);
  font-weight: bold;
  font-size: 25px;
}

@keyframes changeTextColor {
  0% {
    --textc: #222;
  }
  50% {
    --textc: #333;
  }
  100% {
    --textc: #222;
  }
}

@keyframes swappic {
  0% { background-image: url("/wallpaper.jpg");
  }
  50% { background-image: url("/wallpaper.jpg");
    
  }
  
  100% { background-image: url("/wallpaper.jpg");
  }
}
body {
  color: black;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--font-amarath);
  
}

.special-element {
  font-family: var(--font-lovers);
}

.blur-wrapper {
  position: relative;
  /*background-image: url('/wonge24.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
  min-height: 100vh;
  position: relative;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0);
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.containerlist{
  position: relative;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.233);
  height: 100vh;

}
